<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="TransparentLogo.png" alt="" width="50%" height="50%">
  <h1 class="display-5 fw-bold text-body-emphasis">ShapeShift</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      A Project portfolio for CST-452
      <br />
      By: Rolando Marin-Galvan
    </p>

  </div>
</div>

<div class="container">
  <h2>Project Overview</h2>
  <p>
    The Health and Fitness Tracker app project aims to address the pervasive challenges associated with sedentary
    lifestyles, poor dietary habits, and inadequate fitness management by leveraging technology to empower users to
    take control of their health and wellness goals. The task involved developing a comprehensive mobile application
    that seamlessly integrates features such as workout tracking, meal logging, goal setting, progress monitoring,
    and social engagement within an intuitive and user-friendly interface.
  </p>
</div>

<div class="container">
  <h2>Project Background</h2>
  <p>
    This project was created by Rolando Marin-Galvan, and was created for my Capstone project for Grand Canyon
    University. This application was made in the span of two classes. First iteration involved planning, and design
    choices. The second part of the class involved writing, and testing code. This final project demonstrates the skills
    and knowledge earned over the past few years with Grand Canyon University.
  </p>
</div>

<div class="container">
  <h2>Design Details</h2>
  <p>The general technical approach for developing the Health and Fitness Tracker app revolves around a structured and
    iterative process that encompasses various stages from requirement analysis to deployment and maintenance. I started
    by brainstorming sessions to gather project requirements, define user stories, and identify key features such as
    workout tracking, meal logging, goal setting, social engagement, and personalized coaching. The design incorporates
    a modular and scalable architecture, utilizing Flutter for cross-platform UI development, Firebase for backend
    services and data storage, and third-party integrations for additional functionalities. The application will
    prioritize security measures such as encryption, secure authentication, and data privacy to ensure user trust and
    compliance with regulations. </p>
  <p>To run the application, simply download the repo and install the dependencies within the README File and run the
    project. The app is currently not live due to having to purchase a yearly license to upload to Google play and Apple App Store.</p>
</div>

<div class="container">
  <h2>Code Repo</h2>
  <a href="https://github.com/RolandoMarin/Capstone.git">In this link will contain the Github Repo</a>
</div>

<div class="container">
  <h2>User Guide</h2>
  <p>Login: Open App -> Tap Login Button -> Enter Email and password Fields -> Tap Submit -> Success</p>
  <p>Register: Open App -> Tap Register Button -> Enter Email and password Fields -> Tap Submit -> Success</p>
  <p>Create Post: Open App -> Follow Login Steps-> Go to home -> Tap plus button -> Enter post details -> Success</p>
  <p>Like a Post: Open App -> Login steps -> Go to Home -> Tap on heart icon on selected post -> Success</p>
  <p>Unlike a Post: Open App -> Login steps -> Go to Home -> Tap on red heart icon on selected post -> Success</p>
  <p>Delete a post: Open App -> Login Steps -> Go to home -> Tap on three dots top right of your own post -> Tap Delete Post -> Success</p>
  <p>Update a post: Open App -> Login Steps -> Go to home -> Tap on three dots top right of your own post -> Tap Edit Post -> Success</p>
  <p>Log a meal: Open App -> Login Steps -> Go to Log -> Tap meals tab -> Tap plus button -> Enter fields to log meal -> Success</p>
  <p>Log a Workout: Open App -> Login Steps -> Go to Log -> Tap workout tab -> Tap plus button -> Enter fields to log workout -> Success</p>
  <P>Update a Log: Open App -> Login Steps -> Go to Log -> Select tab -> Click on edit or Delete button to choose -> Success</P>
  <p>Update Account: Open App -> Login Steps -> Go to Account -> Tap on selected update -> Success</p>


</div>
<div class="container">
  <h2>Design Diagrams</h2>
  <img src="Picture1.png">
  <img src="Picture2.png">
  <img src="Picture3.png">
  <img src="Picture4.png">
</div>
<div class="container">
  <h2>Code Snippets</h2>
  <h3>
    Dashboard Code snippet
  </h3>
  <img src="DashboardSnippet.jpg" style="max-width: 100%;">
  <div>
    <h3>
      Register Code Snippet
    </h3>
  </div>
  <img src="RegisterSnippet.jpg" style="max-width: 100%;">

</div>
